.inputTitle {
  color: var(--gray-950);
  margin-bottom: 1rem;
  font-size: var(--fs-16);
  font-weight: var(--font-weight-bold);
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  border-radius: var(--fs-16);
  border: 0.1rem solid var(--gray-100);
  background-color: var(--color-white);
  color: var(--gray-950);
  font-size: var(--fs-16);
}

.input:focus {
  border-color: var(--primary-500);
  outline: none;
}

.input::placeholder {
  color: var(--gray-400);
}

.eyeIconWrraper {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.eyeIconWrraper img {
  opacity: 0.5;
}

.error {
  border-color: var(--alert-error);
}

.errorMessage {
  margin-top: 0.6rem;
  margin-left: 0.8rem;
  color: var(--alert-error);
  font-size: var(--fs-12);
}
