.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.inputWrapper {
  max-width: 32.8rem;
  width: 100%;
  margin-bottom: 2rem;
}

.logoDesktop {
  display: none;
}

.logoMobile {
  display: block;
  margin-bottom: 6.2rem;
}

.loginDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 32.8rem;
}

.loginDivider::before,
.loginDivider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--gray-100);
}

.dividerText {
  font-size: var(--fs-16);
  color: #79747e;
  margin: 0 1.4rem;
}

.loginContainer .loginButton {
  font-size: var(--fs-16);
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1.75rem 13rem;
}

.loginContainer .kakaoButton {
  color: var(--gray-600);
  font-size: var(--fs-16);
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: #fee500;
  border: none;
  padding: 1.75rem 10.7rem;
}

.signupContainer {
  color: var(--gray-400);
  font-size: var(--fs-16);
}
.signupLink {
  text-decoration: underline;
  margin-left: 0.4rem;
}

@media (min-width: 768px) {
  .inputWrapper {
    max-width: 64rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .logoDesktop {
    display: block;
    margin-bottom: 6.2rem;
  }

  .logoMobile {
    display: none;
  }

  .loginDivider {
    max-width: 64rem;
  }

  .loginContainer .loginButton {
    padding: 1.75rem 28.6rem;
  }

  .loginContainer .kakaoButton {
    padding: 1.5rem 26.3rem;
  }

  .signupLink {
    text-decoration: underline;
    margin-left: 0.4rem;
  }
}
