.myExperiences {
  width: 32.7rem;
  display: flex;
  gap: 3rem;
  margin: 3rem auto 0;
}

.sideNavigation {
  display: none;
}

.button {
  width: 32.7rem;
  height: 4.8rem;
  background-color: var(--primary-500);
  color: var(--color-white);
  border-radius: 1.4rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .myExperiences {
    width: 68.4rem;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 4rem;
  }

  .sideNavigation {
    display: block;
  }

  .button {
    width: 13.8rem;
    height: 4.8rem;
    background-color: var(--primary-500);
    color: var(--color-white);
    border-radius: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .myExperiences {
    width: 98rem;
    gap: 5rem;
    margin-top: 4rem;
  }
}
