.wrapper {
  position: relative;
  margin-top: 1.4rem;
  max-width: 1120px;
}

.scrollContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 13.23rem;
  gap: 1.2rem;
  padding-bottom: 1rem;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scrollContainer > * {
  scroll-snap-align: start;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  width: 5.4rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 4px 24px rgba(156, 180, 202, 0.2);
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 1.6rem;
  }
  .scrollContainer {
    grid-auto-columns: 33.18rem;
    gap: 2rem;
    /* overflow-x: hidden; */
  }
  .arrowButton.left {
    left: -1.5rem;
  }

  .arrowButton.right {
    right: -1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding-top: 2rem;
  }
  .scrollContainer {
    grid-auto-columns: 26.2rem;

    gap: 2.4rem;
  }
  .arrowButton.left {
    left: -2.8rem;
  }
  .arrowButton.right {
    right: -2.8rem;
  }
}
